body {
    height: 100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    height: 270px;
    width: 550px;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.button-wrap {
    display: flex;
    gap: 11px
}

.button {
    width: 80px;
    height: 28px;
    background: none;
    border: 1px solid black;
    border-radius: 5px
}

.display {
    height:90px;
    width:230px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}